.CV {
    max-width: 595px;
    width: 100%;
    height: 842px;
    border: 1px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.alert {
    margin-top: 15px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    padding: 20px;
}
.right-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(245, 245, 245);
    padding: 30px;
}
.title {
    color: rgb(178, 127, 0);
}
.input {
    border: none !important;
    outline: none !important;
    background: transparent;
}
.sub-block {
    display: inline-block;
    width: 30%;
}
.sub {
    margin-left: 40%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.description {
    margin-top: 25px;
    resize: none;
    outline: none;
    padding: 10px;
    border:none;
    color: black;
    background: transparent;
    overflow: hidden;
}
.description::placeholder {
    color: black;
}
.inp-photo {
    display: block;
    transform: rotateZ(-45deg);
    width: 90px;
    height: 50px;
}
.photo {
    position: relative;
    overflow: hidden;
    border: 4px solid rgb(30, 30, 30);
    background: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    margin: 50px auto;
    outline: 4px solid rgb(178, 127, 0);
    transform: rotateZ(45deg);
}
.cv-photo {
    max-width: 400px;
    height: auto;
    transform: rotateZ(-45deg);
    display: none;
    position: absolute;
}
.name::placeholder {
    color: lightgray;
}
.surname::placeholder {
    color: lightgray;
}
.job-title::placeholder {
    color: lightgray;
}
.name {
    width: 80%;
    font-size: 40px;
    color: white;
}
.surname {
    width: 100%;
    font-size: 30px;
    color: white;
}
.job-title {
    width: 100%;
    font-size: 20px;
    color: white;
}
.contact {

}
.main {
    margin-top: -30px;
}
.top {
    margin-bottom: 20px;
}
.title {
    margin: 0;
}
.skills {
    background: transparent;
    resize: none;
    outline: none;
    color: lightgray;
    padding: 3px;
    font-size: 14px;
    border: none;
}
.contact {
    margin-top: -15px;
    color: rgb(178, 127, 0);
}
.tel {
    width: 70%;
    color: lightgray;
}
.tel::placeholder {
    color: lightgray;
}
.email {
    width: 70%;
    color: lightgray;
}
.email::placeholder {
    color: lightgray;
}
.linkedin {
    width: 70%;
    color: lightgray;
}
.linkedin::placeholder {
    color: lightgray;
}
.active {
    background-color: rgb(178, 127, 0);;
}