.Register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1140px;
    width: 100%;
    margin: 5% auto;
}

.errors {
    text-align: center;
    color: red;
}

p{
    color: red;
    margin-top: -5px;
    margin-left: 25%;
    text-align: center;
}

.link {
    text-decoration: none;
    margin: 15px;
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}

.error {
    border: 1px solid red;
}

.ant-form-item{
    margin: 0 0 15px;
}


