h1 {
    margin: 50px;
    display: inline-block;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.wrapper {
    max-width: 1140px;
    width: 100%;
    margin: 20px auto;
}

.links {
    font-size: 18px;
    font-weight: bold;
}